<!DOCTYPE html>


<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

      <body>
        <h1>Welcome to <span>&#9824;</span>cebook</<h1>

        <%= notice %>
        <%= flash[:error]%>

        <% @posts.reverse_each do |post| %>
      <p>
        <%= User.find(post.user_id).username %>
        <br>
        <%= post.message %>
        <br>
        (posted <%= time_ago_in_words(post.created_at)%> ago)

        <a data-toggle="modal" data-target="#myModal" data-remote="<%= edit_post_path(post.id) %> #modal-edit-fields" class="btn btn-mini">Weigh out</a>
        <!-- <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div> -->


        </p>
        <%=link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?"} %>
        <% end %>

        <br>
        <div id="newpostdiv">

       <%= javascript_include_tag('interface.js') %>
       <button onclick="newPost()"> New post </button>
       <%= button_to "submit post", posts_path,
      :remote => true,
      :method => "post" %>
   </div>
  </body>

  <%= link_to "Log out",session_path(session), method: :delete %>

</html>
